{{! Everything inside the #author tags pulls data from the author }}
{{#author}}
{{#if image}}
<figure class="author-image">
    <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
</figure>
{{/if}}
{{/author}}
<figure class="author-info">
    <section class="author-info-title">
        <span><time class="post-date pull-right" datetime="{{date format='YYYY-MM-DD'}}">Published：{{date format="YYYY-MM-DD"}}</time></span>
        {{#author}}
        <span>Author：{{name}}</span>
    </section>
    <section class="author-info-content">
        {{#if bio}}
        <span class="author-info-bio">{{bio}}</span>
        {{else}}
        <p>Read more <a href="{{url}}">articles</a> 。</p>
        {{/if}}
        <section class="author-info-social">
            {{#if website}}<a href="{{website}}" class="author-info-social-website">Primary blog</a>{{/if}}
            <a href="{{url}}" class="author-info-social-feature">More by me</a>
            <a href="https://github.com/k0nsl" class="author-info-social-github">GitHub</a>
        </section>
        {{/author}}
    </section>
</figure>
